<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><b>Welcome : </b> {{userName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">DashBoard</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a (click)="logOutLogin()" class="btn btn-primary btn-md" data-toggle="tooltip" title="Logout">
        <span class="fa fa-sign-out"></span> Log out
      </a>
    </ul>
  </div>
</nav>
<a class="nav-link" data-toggle="tooltip" title="back" routerLink="/productList/{{id}}"><i
    class="fa fa-arrow-circle-left ml-4"></i></a>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card" style="margin-top: 30px;">
        <div class="card-header text-center" style="background-color: rgb(92, 92, 92); color:whitesmoke">
          Description
        </div>
        <div class="card-block ml-2 mt-2">
          <blockquote class="card-blockquote">
            <p *ngIf="product!=null&&product!=undefined"><b>Subject: </b> {{product.subject}}</p>
            <p *ngIf="product!=null&&product!=undefined"><b>question: </b> {{product.question}}</p>
            <p *ngIf="product!=null&&product!=undefined"><b>MessageBody : </b> {{product.messageBody}}</p>
            <footer><b>Added By: </b> <cite title="Source Title">{{product.userName}}</cite> on {{product.date}}
            </footer>

          </blockquote>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 col-12 col-md-12 col-sm-12">

      </div>
    </div>

    <div class="col-8 mt-3">
      <div class="card mt-3" *ngFor="let item of commentList">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img src="../../assets/picture/questions.jpg" height="200px" style="border: medium;border-color:black;"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title">{{item.heading}}</h4>
            <p class="card-text" *ngIf="product!=null&&product!=undefined">{{item.comment}}</p>
       
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Posted By:&nbsp;{{item.userName}}</small>
          <small class="text-muted" style="float:right">Posted On:&nbsp;{{item.date}}</small>
        </div>
      </div>

      <div class="card card-center" *ngIf="commentList.length==0||commentList==null" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/picture/comingSonn.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">No Comment Available</h5>
          <p class="card-text">Please! wait for some day for Comment </p>
        </div>
      </div>
    </div>
  </div>
</div>